 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Roboto';
}



/* responsive -header--------------------------- */
 
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 14px;
 
	 

}

 marquee{
    font-size: 25px;
    color: #fff;
 }

.header .logo img{
    width: 60px;
}
.hero-background{
 
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.178),rgba(0, 0, 0, 0.137)), url(imgbox/bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
   
    
}

 
.list-wrap {
	display: flex;
    
}
  .list-wrap li{
	margin-right: 20px;
	list-style: none;

}

 
 .list-wrap li a {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #ED0404;
text-decoration: none;
transition: 0.5s;
}
 
 .list-wrap li a:hover {
color: #000;

}
 
 

 
.responsive-btn{
	 color: #7963F0;
	 font-size: 22px;
	 cursor: pointer;
	 display: none;
     border: none;
}
#click{
	display: none;
   
}
 
 



/* responsive bar*/
 

@media (max-width: 865px){

	 

	.list-wrap{
		position: fixed;
		top: 80px;
		left:-100%;
		background: #fff;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.6s ease;
        z-index: 1;
      

	}



.responsive-btn{
		display: block;
    margin-left:100px;
	} 


 #click:checked ~.list-wrap{
	 	left: 0%;
	 } 

	  #click:checked ~ .responsive-btn i:before{
	  	content: "\f00d";
	  } 


	.list-wrap li{
		margin: 40px 0;



	}
	.container li a{
		font-size: 22px;

		 

	}

	.list-wrap li a:hover{
	background:none;

} 

 
 
}


/* responsive -header------------------end---------------------------- */


/* hero -------------------------------------------------------*/
.hero-background{
 
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0,0.75),rgba(0, 0, 0, 0.75)), url(imgbox/bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-wrapper{
   position: absolute;
   content: '';
   top: 130px;
  left:90px;    
  
}
.hero-background h2{
 color: #fff;
 font-size: 40px;
 font-weight: 700;
}
.hero-background  .col-md-4 p{
 color: #fff;
 margin-bottom: 10px;
 font-size: 15px;
 font-weight: 600;
 text-align: center;
}
 .hero-wrapper .col-md-4 .form-select{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    border: none !important;
}
 
.hero-scearch-button a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}
.hero-scearch-button button i{
   
    color: #fff;
    margin-right: 5px;
}
.hero-scearch-button button {
    background: #7963F0;
border-radius: 10px;
font-weight: 700;
color: #FFFFFF;
padding: 5px 20px;
margin-top:31px;
 
}
.hero-scearch-button button:hover{
background-color: #680707;
}

 
/* tEXT ANIMATION--------------------------------------- */
.text-animation{
    position: absolute;
    content: '';
    top: 80px;
    text-align: center;
}
.text-animation .custom-size{
    font-size: 40px;
    color: #C56012;
    font-weight: 700;
}
 
@keyframes changewidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
#dynamicContent {
    white-space: nowrap;
}
  
  /* ---------------------------------------- */

  
  
/* improve-------------------------আমাদের সাফল্য---------------------------- */
.blood-improve{
    margin: 60px 0 40px 0;
}
.improve-wrapper{
    background-color: #ED0404;
    padding: 20px 20px;
    text-align: center;
    
}
.improve-wrapper h5 {
   font-size: 25px;
}
.improve-wrapper p {
   font-size: 23px;
}
.improve-wrapper {
   color: #fff;
}

/* improve----------------------আমাদের সাফল্য-------------------------------end */

.পরিহার{
    margin: 60px 0 40px 0;
}


/* ---------------------karjokon */
 
.karjokom{
    background-image:linear-gradient(rgba(0, 0, 0, 0.718),rgba(0, 0, 0, 0.726)), url(imgbox/logo-1.jpeg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
   background-attachment: fixed;
    height: 90vh;
    width: 100%;
}
.karjokom h2{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
}
.karjokom li{
  color: #fff;
  padding: 5px 0;
  font-size: 19px;
}

/* ---------------------karjokon----------end */


/* accordion-------------------------------------------- */
 .accordion{
    margin: 40px 0;
 }
 .accordion-body{
   background:rgb(130, 203, 157);
   position: relative;
 
 
 }
 
 .accordion-body::after{
   content: '';
   position: absolute;
   top: -1.5rem;
   left: 1.8rem;
   border: 1rem solid transparent;
   border-bottom: 1rem solid rgb(130, 203, 157);
 
 } 


/* accordion-end ---------------------------------------*/


/* fotter--------------------------------------------- */
.fotter{
    margin-top: 80px;
    padding: 0 0 5px 0;
}
.line-fotter{
    border-top: 2px dotted red;
    padding-bottom: 3px;
    margin: 10px 0;
}
.fotter-pera{
    text-align: justify;
}
.fotter .col-md-3 a {
    text-decoration: none;
    color: #ED0404;
    
}
.fotter .col-md-3 li {
  list-style: none;
  margin-top: 30px;

}
.fotter .col-md-3 h5 {
 font-size: 26px;
 color: #000;
 font-weight: 600;

}

.develpoer-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* fotter---------------------------------------------end */